/* RESET */
body {
    background-color: var(--primary);
    color: #ffffff;
    font-family: 'Livvic', sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CUSTOM PROPERTIES */
:root {
    --primary: #100645;
    --secondary: #2E6754;
    --tertiary: #2D28EB;
}

/* COLOR PALETTE */

/* UTILS */
.container {
    margin: 0 auto;
    width: 1300px;
}

/* .jumbotrom {
    height: 100%;
    width: 100%;
    object-position: top center;
} */

/* GENERICS */
header {
    background: url('../images/header-bg.png') no-repeat -50% -50% / cover, #2D28EB;
    border-radius: 0 0 25px 25px;
    min-height: 400px;

}

div[data-box=calendar-day] {
    flex: 1 0 calc(100% / 8 - 140px / 8);
    background-color: #2E6754;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

div[data-ico-box=box-ico] {
    width: 30%;
}

div[data-day=num] {
    text-align: center;
    font-size: 5rem;
    width: 70%;
}

img[data-icon=icon] {
    width: 100%;
}




/* CALENDAR DAYS WRAPPER*/
#calendar {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#calendar div[data-box=calendar-day]:last-child {
    flex: 0 1 calc(100% / 8 - 140px / 8);
    color: var(--secondary);
    background-color: #D4D6F5;
}

div[data-box=calendar-day] img:last-child {}